<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/post.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/css/post.css">

  <title>SUPER CODING</title>

</head>
<body>
<table class="table">
  <tr>
    <td colspan="4" style="text-align: center;"><h2>SUPER CODING</h2></td>
  </tr>
  <tr>
    <td colspan="4">
      <div class="search-form">
        <label for="searchEmail"></label><input type="email" id="searchEmail" placeholder="이메일로 검색" required>
        <button onclick="searchByEmail()">검색</button>
      </div>
    </td>
  </tr>
  <tr class="header">
    <td class="num">번호</td>
    <td class="title">제목</td>
    <td class="author">작성자</td>
    <td class="date">작성일</td>
  </tr>
  <tbody class="body">
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}"></td>
    <td class="title">
      <a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}"></a>
    </td>
    <td class="author" th:text="${post.author}"></td>
    <td class="date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
  </tr>
  </tbody>
</table>
<br>
<table>
  <tr>
    <td>

      <button onclick="location.href='/boardWriteForm'">글쓰기</button>
      <button class="user-button" id="login-button" onclick="location.href='http://localhost:8080/api/user'" >로그인</button>
      <button class="user-button" id="logout-button" onclick="clickLogout()" >로그아웃</button>

    </td>
  </tr>
</table>

<script>
  const token = window.localStorage.getItem('token');
  const loginBtn = document.getElementById('login-button');
  const logoutBtn = document.getElementById('logout-button');

  function clickLogout(){
    const email = getEmailFromToken();
    const data = {
      email : email
    };

    fetch('/api/logout',{
      method : 'POST',
      headers:{
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then( response =>{
      return response.json();
    }).then(data =>{
      localStorage.removeItem('token');
      alert(data.message);
      window.location.reload();
    });
  }

  function getEmailFromToken() {


    const tokenParts = token.split('.');
    const payload = tokenParts[1];
    const decodedPayload = atob(payload.replace(/-/g, '+').replace(/_/g, '/'));

    const payloadJson = JSON.parse(decodedPayload);


    return payloadJson.username;
  }

  function checkUser(){

    if(token === null){
      logoutBtn.style.display='none';

    }else{
      loginBtn.style.display='none';
    }
  }

  checkUser();

</script>
</body>
</html>
