<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>로그인 및 회원가입</title>

</head>
<body>

<div class="login-container">

    <form id="login-signup-form">
        <h2>로그인 및 회원가입</h2>
        <input type="text" id="email" placeholder="ID(EMAIL)" name="email" required>
        <input type="password" id="password" placeholder="PASSWORD" name="password" required>
        <input type="button" class="btn" value="로그인" onclick="submitForm('/api/login')">
        <input type="button" class="join" value="회원가입" onclick="submitForm('/api/signup')">
    </form>
</div>
<script>
    function submitForm(action) {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const data = {
            email: email,
            password: password
        };

        fetch(action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    if(action === '/api/login'){
                        throw new Error("로그인에 실패하셨습니다.");
                    }else{
                        throw new Error("회원가입에 실패하셨습니다.(이메일 중복)");
                    }

                }
                return response;
            })
            .then(data => {
                console.log('Success');
                if (action === '/api/login') {

                    localStorage.setItem('token', data.headers.get('Authorization'));
                    alert('로그인 성공');
                    window.history.back();
                } else {
                    alert('회원가입 성공');
                    window.location.reload();
                }
            })
            .catch((error) => {
                alert(error.message);
            });
    }
</script>
</body>
</html>
